---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Optical Fiber Solution Finder">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>About | EK INF - EK Informatics and Fiber optics</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/en/about">
  <!-- OpenGraph -->
  <meta property="og:title" content="About | EK INF - EK Informatics and Fiber optics">
  <meta property="og:description" content="Optical Fiber Solution Finder">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="benefits-thumbnail mb-50">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/aRxigYvvhH0?autoplay=1&mute=1">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->

  <!-- ##### Farming Practice Area Start ##### -->
  <section class="farming-practice-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF, EK Informatics and Fiber optics</p>
            <h2><span>EK</span> Affiliates</h2>
            <img src="/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/img/bg-img/81.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/img/core-img/bene2.png" alt="">
              </div>
              <span>이케이인포스</span>
              <h4>EK Informatics - EK INFOS</h4>
              <p>B2B Specialized in metal press prototyping, mold design, mass production</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/img/bg-img/82.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/img/core-img/bene3.png" alt="">
              </div>
              <span>이케이인프라</span>
              <h4>EK Infrastructure - EK INFRA</h4>
              <p>B2C Specialized in Online Wholesale and Retail, Last mile Shipping</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/img/bg-img/83.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/img/core-img/bene4.png" alt="">
              </div>
              <span>메이커스로</span>
              <h4>Maker's law - MAKERSLO</h4>
              <p>Specialized in plastic injection prototypes, mold design, mass production</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Farming Practice Area End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('/img/bg-img/57.jpg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>이케이</span> 제품은 이렇습니다.</h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>EK INF, Korea’s No.1 Informatics & Fiber optics company</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Rapid Growth</h5>
              </div>
              <p>EK INF is a fast-growing market leader in the field of Fiber optics design, development and manufacturing.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Fiber Optics All-rounder</h5>
              </div>
              <p>Based on accumulated experience and technical skills, EK INF has been producing excellent products in all areas of the Fiber optics industry such as OFDF, OJC, OPG and OFA etc.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>The Leader of ICT</h5>
              </div>
              <p>EK INF will become a leading ICT company through constant innovation that does its best to meet customer expectations through new challenges.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Top-tier Manufacturer</h5>
              </div>
              <p>EK INF manufactures the highest quality optical fiber communication-related products suitable for the global market. We also carry out contract work in the field related to optical fiber communication.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### --> 
  
  <section class="about-us-area section-padding-100-50">
    <div class="container">
    <div class="row align-items-center">
    
    <div class="col-12 col-lg-6">
    <div class="about-us-content mb-100">
    
    <div class="section-heading">
    <p>대한민국 최초 RN 오픈마켓 취급</p>
    <h2><span>Korea First</span> EK INF</h2>
    <img src="/img/core-img/decor.png" alt="">
    </div>
    <p>In order to meet the high demand of many optical communication companies in Korea, EK INF has entered Naver Store for various special specifications and fast delivery. It is growing rapidly at the same time as Naver(Korean Google)'s entry, and its RN photovoltaic distributor is the first optical communication solution company in Korea to handle it in the open market.</p>
    </div>
    </div>
    
    <div class="col-12 col-lg-6">
    <div class="about-us-thumbnail mb-100">
    <img src="/img/bg-img/61.jpg" alt="">
    </div>
    </div>
    </div>
    </div>
  </section>

  <!-- ##### Testimonial Area Start ##### -->
  <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url('/img/bg-img/52.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonial Slides -->
          <div class="testimonial-slides owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="/img/core-img/quote.png" alt="">
                </div>
                <h5>"It's cost-effective. I would like you to handle a lot of other products besides the existing ones. I hope your business thrives."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="/img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : hyg7****<</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="/img/core-img/quote.png" alt="">
                </div>
                <h5>"It's fast. Actually, this is my second purchase and I'm re-buying it because I'm satisfied. Have a good day~~~"</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="/img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : id_s****</h5>
                  <h6>Client</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="/img/core-img/quote.png" alt="">
                </div>
                <h5>"I bought it cheaply and thank you for your kind text message. I'm planning to buy it often. Sell a lot."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="/img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : gogu****</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="/img/core-img/quote.png" alt="">
                </div>
                <h5>"The delivery status was good, and the response to the questions was good."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="/img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : sang****</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Testimonial Area End ##### -->
  
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100-50">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h2>What is <span>Optical Communication</span> ?</h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
            <p>For those unfamiliar with the optical communication industry, this is an interview video by KT's optical cable Meister, a key member of the optical communication industry.</p>
            <a href="https://www.youtube.com/watch?v=Zmh5rQXvWXw" class="btn famie-btn mt-30">Youtube</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="/img/bg-img/56.jpg" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/watch?v=Zmh5rQXvWXw" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>