---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Optical Fiber Solution Finder">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>About | MakersLo - 메이커스로</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/en/about-makerslo">
  <!-- OpenGraph -->
  <meta property="og:title" content="About | MakersLo - 메이커스로">
  <meta property="og:description" content="Optical Fiber Solution Finder">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">
      
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
          
          <div class="section-heading">
          <p>Maker's law</p>
          <h2><span>Makerslo</span> Introduction </h2>
          <img src="/img/core-img/decor.png" alt="">
          </div>
          <p>Makerslo provides reliable wired and wireless communications products.</p>
          </div>
        </div>
          
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="/img/core-img/makerslo.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('/img/core-img/ml2.jpeg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>Makerslo</span> Introduction </h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>유선 통신 장비 제조</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Low Density / High Density Distribution Frame</h5>
              </div>
              <p>We supply products to secure the upper floor of IDC Center and Telecommunications Bureau.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Measuring instrument</h5>
              </div>
              <p>Provide a variety of equipment optimized for low-density / high-density distribution box communication work sites.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>FTTX Optimized Material</h5>
              </div>
              <p>Provides a variety of optimized materials for optical communication sites.</p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>Support product development and commercialization</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Idea product development</h5>
              </div>
              <p>Supports R&D until ideas are commercialized.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Product Development / Mass Production</h5>
              </div>
              <p>Helps mass-produce developed products under optimal conditions. </p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Optimizing manufacturing unit price</h5>
              </div>
              <p>Through cost analysis of commercialized products, we propose to mass-produce products at optimal prices and support product improvement.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->  

  <!-- ##### About Us Start ##### -->
  <section class="about-us-area section-padding-100-50">
    <div class="container">
      <div class="row align-items-center">
      
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
          
          <div class="section-heading">
          <p>일체형 광분배함</p>
          <h2><span>Plastic</span> Mini Distribution Box </h2>
          <img src="/img/core-img/decor.png" alt="">
          </div>
          <p>Please refer to the attached file for the product information. </p>
          </div>
          <div class="about-us-thumbnail mb-100">
            <img src="/img/core-img/ml1.jpeg" alt="">
          </div>
        </div>
          
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="/img/core-img/ml3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us End ##### -->
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>