---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="광통신솔루션전문기업">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>회사소개 | 메이커스로 - MakersLo</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/about-makerslo">
  <!-- OpenGraph -->
  <meta property="og:title" content="회사소개 | 메이커스로 - MakersLo">
  <meta property="og:description" content="메이커스로 - MakersLo">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>회 사 소 개</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">회사소개</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">
      
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
          
          <div class="section-heading">
          <p>Maker's law</p>
          <h2><span>메이커스로</span> 회사 소개 </h2>
          <img src="img/core-img/decor.png" alt="">
          </div>
          <p>메이커스로는 신뢰성 있는 유무선 통신 제품을 공급합니다.</p>
          </div>
        </div>
          
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="img/core-img/makerslo.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('img/core-img/ml2.jpeg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>메이커스로</span> 회사소개</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>유선 통신 장비 제조</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>저밀도 / 고밀도 분배함</h5>
              </div>
              <p>IDC 센터와 통신국사의 상면적 확보를 위한 제품을 공급합니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>측정기</h5>
              </div>
              <p>통신 작업 현장에 최적화된 다양한 장비를 공급합니다. </p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>FTTX 최적화 자재</h5>
              </div>
              <p>광 통신 현장에 필요한 다양한 최적화된 자재를 공급합니다.</p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>제품 개발 및 상품화 지원</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>아이디어 상품 개발</h5>
              </div>
              <p>아이디어가 상품화가 될 때까지 R&D 를 지원합니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>제품 개발 / 양산</h5>
              </div>
              <p>개발이 완료된 제품의 양산을 최적의 조건으로 양산되도록 지원합니다. </p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>제조 단가 최적화</h5>
              </div>
              <p>상용화되어 있는 제품의 원가 분석을 통하여 최적의 가격으로 제품을 양산할 수 있도록 제안하고, 제품 개선을 지원합니다.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->  

  <!-- ##### About Us Start ##### -->
  <section class="about-us-area section-padding-100-50">
    <div class="container">
      <div class="row align-items-center">
      
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
          
          <div class="section-heading">
          <p>Integrated Mini FDF</p>
          <h2><span>일체형</span> 광분배함 </h2>
          <img src="img/core-img/decor.png" alt="">
          </div>
          <p>제품에 대한 자료는 첨부 자료를 참조 하시면 됩니다. </p>
          </div>
          <div class="about-us-thumbnail mb-100">
            <img src="img/core-img/ml1.jpeg" alt="">
          </div>
        </div>
          
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="img/core-img/ml3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us End ##### -->
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>