---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Optical Fiber Solution Finder">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>About | EK INFOS - 이케이인포스</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/en/about-ekinfos">
  <!-- OpenGraph -->
  <meta property="og:title" content="About | EK INFOS - 이케이인포스">
  <meta property="og:description" content="Optical Fiber Solution Finder">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">
      
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
          
            <div class="section-heading">
            <p>대한민국 최대 OFDF 생산 업체</p>
            <h2><span>Korean Largest</span> OFDF, Optical Fiber Distribution Frame Manufacturer </h2>
            <img src="/img/core-img/decor.png" alt="">
            </div>
            <p>EK Infos is a manufacturer of optical distribution boxes that respond to large demands from telecommunication businesses such as KT, SK, and LG. Production of ODFs began in 2014 and continued to current EK Infos. Proceed with mass production and prototyping of generic products.</p>
          </div>
        </div>
          
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
          <img src="/img/bg-img/61.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('/img/bg-img/57.jpg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>EK Infra</span> 's products are like...'</h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>EK Infra is an optical communication solution company that deals with and sells RN(Remote Node), optical splitter, optical distribution boxes, and other materials essential to the optical communication industry.</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Remote Node</h5>
              </div>
              <p>This refers to the RN of the passive optical network (PON). It is equipped with a photoplitter in the light distribution box, optical connection box, etc.
                It is called Network RN, Optical Cable RN, OFD RN, and RN Splitter.
                Although there may be a risk of damage when installing it on site, it is possible to ship RN finished product from EK Infos for convenient construction.
                This is the first EK Infra in Korea's online sales history.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Optical PLC Splitter</h5>
              </div>
              <p>Also known as optical cable dispenser, it is a manual device that combines or distributes light sources, used in its RN light distributor, and enables economical use of optical cables with 1xN branch structure.
                All optical splitters in the EK Infras are tested on their own prior to shipment to ensure that they are intact.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Optical Fiber Distribution Frame</h5>
              </div>
              <p>It is a trap for distributing optical cables to each terminal unit and is used for its RN light distributor.
                It is also called OFD, FDF, ODF, OFDF etc.
                For your convenience, the Frame itself, equipped with a optical fiber adapter,
                Furthermore, a system has been established for purchasing in the form of an RN light distributor equipped with a photoplitter.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>ETC</h5>
              </div>
              <p>You can even purchase additional materials from the optical communication industry, such as optical fiber adaptor, optical pigtail, optical splice tray, and protection tube.
                If you purchase it with RN(Remote Node), PLC splitter, and ODFs, you can get it right away with quick delivery.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->  
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>