---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="광통신솔루션전문기업">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>회사소개 | 이케이 아이앤에프 - EK INF</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/about">
  <!-- OpenGraph -->
  <meta property="og:title" content="회사소개 | 이케이 아이앤에프 - EK INF">
  <meta property="og:description" content="광통신솔루션전문기업">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>회 사 소 개</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">회사소개</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="benefits-thumbnail mb-50">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/aRxigYvvhH0?autoplay=1&mute=1">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->

  <!-- ##### Farming Practice Area Start ##### -->
  <section class="farming-practice-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF, EK Informatics and Fiber optics</p>
            <h2><span>이케이</span> 파트너사</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="img/bg-img/81.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/bene2.png" alt="">
              </div>
              <span>EK Informatics</span>
              <h4>이케이인포스 - EK INFOS</h4>
              <p>B2B 금속 프레스 시제품 제작, 금형 설계, 양산 전문</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="img/bg-img/82.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/bene3.png" alt="">
              </div>
              <span>EK Infrastructure</span>
              <h4>이케이인프라 - EK INFRA</h4>
              <p>B2C 온라인 도소매, 라스트마일 배송 전문</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="img/bg-img/83.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/bene4.png" alt="">
              </div>
              <span>Maker's law</span>
              <h4>메이커스로 - MAKERSLO</h4>
              <p>플라스틱 사출 시제품 제작, 금형 설계, 양산 전문</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Farming Practice Area End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('img/bg-img/57.jpg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>이케이</span> 제품은 이렇습니다.</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>EK INF, Korea’s No.1 Informatics & Fiber optics company</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Rapid Growth</h5>
              </div>
              <p>EK INF는 광섬유 디자인, 개발, 제조 분야에서 빠르게 성장하고 있는 시장 선두 기업입니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Fiber Optics All-rounder</h5>
              </div>
              <p>EK INF는 축적된 경험과 기술력을 바탕으로 OFDF, OJC, OPG, OFA 등 광섬유 산업 전 분야에서 우수한 제품을 생산해 왔습니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>The Leader of ICT</h5>
              </div>
              <p>EK INF는 새로운 도전을 통해 고객의 기대에 부응하기 위해 최선을 다하는 끊임없는 혁신을 통해 선도적인 ICT 기업이 될 것입니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>Top-tier Manufacturer</h5>
              </div>
              <p>EK INF는 세계 시장에 적합한 최고 품질의 광섬유 통신 관련 제품을 제조하고, 계약 업무를 수행한다.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### --> 
  
  <section class="about-us-area section-padding-100-50">
    <div class="container">
    <div class="row align-items-center">
    
    <div class="col-12 col-lg-6">
    <div class="about-us-content mb-100">
    
    <div class="section-heading">
    <p>Korea First EK INFRA</p>
    <h2><span>대한민국 최초</span> RN 오픈마켓 취급 </h2>
    <img src="img/core-img/decor.png" alt="">
    </div>
    <p>이케이는 대한민국의 수많은 광통신 업체의 높은 수요를 만족시키기 위해 단순한 소량 주문 생산을 넘어서, 다양한 특수 사양과 빠른 납기를 위해 네이버 스토어에 입점하여 현재 운영중입니다. 네이버 입점과 동시에 빠르게 성장하고 있으며, 자사 RN광분배기 품목의 경우 대한민국 광통신솔루션업체 중 최초로 오픈마켓에서 취급하고 있습니다.</p>
    </div>
    </div>
    
    <div class="col-12 col-lg-6">
    <div class="about-us-thumbnail mb-100">
    <img src="img/bg-img/61.jpg" alt="">
    </div>
    </div>
    </div>
    </div>
  </section>

  <!-- ##### Testimonial Area Start ##### -->
  <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url('img/bg-img/52.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonial Slides -->
          <div class="testimonial-slides owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="img/core-img/quote.png" alt="">
                </div>
                <h5>"가성비 굳입니다. 기존제품외에 다른제품도 많이 취급해주셨으면 좋겠습니다. 번창하세요."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : hyg7****<</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="img/core-img/quote.png" alt="">
                </div>
                <h5>"배송빠르구요. 사실 이번에 두 번째 구입인데 만족스러워서 재구입 합니다. 수고하세요~~."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : id_s****</h5>
                  <h6>Client</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="img/core-img/quote.png" alt="">
                </div>
                <h5>"저렴하게 구매했고 친절한 문자도 고마웠습니다 자주 구매예정입니다. 많이 파세요."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : gogu****</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="img/core-img/quote.png" alt="">
                </div>
                <h5>"배송 상태도 좋고, 문의사항에 대해 응대도 좋았습니다."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="img/bg-img/901.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>ID : sang****</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Testimonial Area End ##### -->
  
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100-50">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h2><span>광통신</span> 산업이란?</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p>광통신 산업에 대해 생소한 분들을 위한, 광통신 산업의 핵심 인력인 KT 광케이블 마이스터 분의 인터뷰 영상입니다.</p>
            <a href="https://www.youtube.com/watch?v=Zmh5rQXvWXw" class="btn famie-btn mt-30">Youtube</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="img/bg-img/56.jpg" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/watch?v=Zmh5rQXvWXw" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>