---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Optical Fiber Solution Finder">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>Contact | EK INF - EK Informatics and Fiber optics</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/en/contact">
  <!-- OpenGraph -->
  <meta property="og:title" content="Contact | EK INF - EK Informatics and Fiber optics">
  <meta property="og:description" content="Optical Fiber Solution Finder">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Contact</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Contact Information Area Start ##### -->
  <section class="contact-info-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>CONTACT INFO</p>
            <h2>Any Contact would be <span>welcome</span> to us.</h2>
            <img src="/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Information Area -->
        <div class="col-12 col-md-4">
          <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
            <div class="contact-icon">
              <i class="icon_pin_alt"></i>
            </div>
            <h5>Adress</h5>
            <h6>2nd Floor 381, Jingeononam-ro, Jingeon-eup, Namyangju-si, Gyeonggi-do, Republic of Korea</h6>
          </div>
        </div>

        <!-- Single Information Area -->
        <div class="col-12 col-md-4">
          <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
            <div class="contact-icon">
              <i class="icon_phone"></i>
            </div>
            <h5>Phone</h5>
            <h6>+82 10 2289 3522</h6>
          </div>
        </div>

        <!-- Single Information Area -->
        <div class="col-12 col-md-4">
          <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
            <div class="contact-icon">
              <i class="icon_mail_alt"></i>
            </div>
            <h5>Email</h5>
            <h6>contact@ekinf.com</h6>
          </div>
        </div>

      </div>
      <div class="c-border"></div>
    </div>
  </section>
  <!-- ##### Contact Information Area End ##### -->

  <!-- ##### Contact Area Start ##### -->
  <section class="contact-area section-padding-100-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Contact Content -->
        <div class="col-12 col-lg-5">
          <div class="contact-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>Contact now</p>
              <h2>Email us freely</h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
            <!-- Contact Form Area -->
            <div class="contact-form-area">
              <form action="https://formspree.io/contact@ekinf.com" method="POST">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="company" placeholder="Company name">
                  </div>
                  <div class="col-lg-6">
                    <input type="phone" class="form-control" name="phone" placeholder="phone number">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" placeholder="Email Address">
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" name="subject" placeholder="Title">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn famie-btn" value="Send">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Contact Maps -->
        <div class="col-lg-6">
          <div class="contact-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d789.4995402340287!2d127.19896482922749!3d37.67275099873616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDQwJzIxLjkiTiAxMjfCsDExJzU4LjIiRQ!5e0!3m2!1sko!2skr!4v1589939890604!5m2!1sko!2skr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Contact Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>
