---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Optical Fiber Solution Finder">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>EK INF - EK Informatics and Fiber optics</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/en">
  <!-- OpenGraph -->
  <meta property="og:title" content="EK INF">
  <meta property="og:description" content="EK INF - EK Informatics and Fiber optics">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->

  <!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/51.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">Pride of Korea's Optical Communication Industry</h2>
                <p data-animation="fadeInUp" data-delay="400ms">EK INF, EK Informatics and Fiber optics</p>
                <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">상담문의</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/52.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">Meets the specifications of the service provider's products</h2>
                <p data-animation="fadeInDown" data-delay="400ms">EK INF, EK Informatics and Fiber optics</p>
                <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">상담문의</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->

  <!-- ##### Our Products Area Start ##### -->
  <section class="our-products-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF Products</p>
            <h2><span>EK INF</span> has the best quality.</h2>
            <img src="/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-12 col-sm-12 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/101.jpg" data-source="https://ekinf.com" title="Remote Node"><img src="/img/bg-img/101.jpg"></a>
              </div>
              <!-- Product Tags -->
              <span class="product-tags">EK only</span>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-rn.html" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">RN광분배기</a>
              <h6 class="price">Remote Node</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/102.jpg" data-source="https://ekinf.com" title="Optical PLC Splitter"><img src="/img/bg-img/102.jpg"></a>
              </div>
              <!-- Product Tags -->
              <span class="product-tags bg-danger">HOT</span>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-ops.html" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">광스플리터</a>
              <h6 class="price">Optical PLC Splitter</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/103.jpg" data-source="https://ekinf.com" title="Optical Fiber Distribution Frame"><img src="/img/bg-img/103.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">광분배함</a>
              <h6 class="price">Optical Fiber Distribution Frame</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/104.jpg" data-source="https://ekinf.com" title="Optical Pigtail"><img src="/img/bg-img/104.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-opg.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">광피그테일</a>
              <h6 class="price">Optical Pigtail</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/105.jpg" data-source="https://ekinf.com" title="Optical Fiber Adaptor"><img src="/img/bg-img/105.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-ofa.html" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">광어댑터</a>
              <h6 class="price">Optical Fiber Adaptor</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/106.jpg" data-source="https://ekinf.com" title="Optical Fiber Splice"><img src="/img/bg-img/106.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="buy-ofs.html" class="product-title">광접속트레이</a>
              <h6 class="price">Optical Fiber Splice</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/bg-img/107.jpg" data-source="https://ekinf.com" title="ETC"><img src="/img/bg-img/107.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Buy"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="buy-etc.html" class="product-title">기타자재</a>
              <h6 class="price">ETC</h6>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="900ms">
            <a href="products.html" class="btn famie-btn">Check EK Products</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Our Products Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area bg-dark section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Thumbnail -->
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="/img/bg-img/54.jpg" alt="About EK INF">
          </div>
        </div>

        <!-- About Us Content -->
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p class="text-white">About EK INF</p>
              <h2><span>EK INF</span></h2>
              <img src="/img/core-img/decor.png" alt="">
            </div>
            <p class="text-white">As an optical communication solution company, EK INF deals with and sells RN(Remote Node), optical splitter, optical distribution boxes, and other materials essential to the optical communication industry.</p>
            <a href="about.html" class="btn famie-btn mt-30">더 알아보기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Our Products Area 2 Start ##### -->
  <section class="our-products-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF Clients</p>
            <h2><span>The Evidence</span> of our confidence.</h2>
            <img src="/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client01.png" data-source="https://ekinf.com" title="KT"><img src="/img/client-img/client01.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">KT</a>
              <h6 class="price">Korea Telecom</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client02.png" data-source="https://ekinf.com" title="SKT"><img src="/img/client-img/client02.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">SK 텔레콤</a>
              <h6 class="price">SK Telecom</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client03.png" data-source="https://ekinf.com" title="LG U+"><img src="/img/client-img/client03.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">LG 유플러스</a>
              <h6 class="price">LG Uplus</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client04.png" data-source="https://ekinf.com" title="Ministry of National Defense"><img src="/img/client-img/client04.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">대한민국 국방부</a>
              <h6 class="price">Ministry of National Defense</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client05.png" data-source="https://ekinf.com" title="SKB"><img src="/img/client-img/client05.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">SK 브로드밴드</a>
              <h6 class="price">SK Broadband</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client06.png" data-source="https://ekinf.com" title="LGD"><img src="/img/client-img/client06.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">LG 디스플레이</a>
              <h6 class="price">LG Display</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client07.png" data-source="https://ekinf.com" title="Seoul National University of Science of Technology"><img src="/img/client-img/client07.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">서울과학기술대학교</a>
              <h6 class="price">Seoul National University of Science of Technology</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client08.png" data-source="https://ekinf.com" title="Chonnam National University"><img src="/img/client-img/client08.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">전남대학교</a>
              <h6 class="price">Chonnam National University</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client09.png" data-source="https://ekinf.com" title="Humax"><img src="/img/client-img/client09.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">휴맥스</a>
              <h6 class="price">Humax</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client10.png" data-source="https://ekinf.com" title="Lightron"><img src="/img/client-img/client10.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">라이트론</a>
              <h6 class="price">Lightron</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client11.png" data-source="https://ekinf.com" title="Senko"><img src="/img/client-img/client11.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">센코</a>
              <h6 class="price">Senko</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client12.png" data-source="https://ekinf.com" title="Dae Eun Electronics"><img src="/img/client-img/client12.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">대은전자</a>
              <h6 class="price">Dae Eun Electronics</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="/img/client-img/client13.png" data-source="https://ekinf.com" title="FBG Korea"><img src="/img/client-img/client13.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">에프비지코리아</a>
              <h6 class="price">FBG Korea</h6>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="300ms">
            <a href="about.html" class="btn famie-btn">이케이 회사소개 보러가기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Our Products Area 2 End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <p>What we do</p>
              <h2><span>EK INF</span> newsletter</h2>
              <img src="/img/core-img/decor2.png" alt="">
            </div>
            <p class="text-white mb-50 text-center">Please leave your email address. You will be the first to receive news such as adding new products and warehousing products from EK INF.</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <form action="https://formspree.io/contact@ekinf.com" method="POST">
            <input type="email" class="form-control" name="email" placeholder="이메일주소">
            <button type="submit" class="btn famie-btn" value="Send">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Newsletter Area End ##### -->


  <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area section-padding-100-0 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>이케이 인증서</p>
            <h2><span>EK INF</span> Certification</h2>
            <img src="/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="/img/bg-img/201.jpg" alt="">
            <h5>Business license</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
            <img src="/img/bg-img/202.jpg" alt="">
            <h5>Online business registration</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
            <img src="/img/bg-img/204.jpg" alt="">
            <h5>Naver(Korean Google) ESCROW</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
            <img src="/img/bg-img/205.jpg" alt="">
            <h5>Domain registration confirmation</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="/img/bg-img/206.jpg" alt="">
            <h5>MRO suitable</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="/img/bg-img/203.jpg" alt="">
            <h5>Industrial Bank of Korea ESCROW</h5>
          </div>
        </div>
        <!-- Single Benefits Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
            <!-- 기업은행안심이체 인증마크 적용 시작-->
            <script _ajs_='46_-1314e2d97fa8111c' _ah_='-623765651'>
              function onPopAuthMark(key)
              {
                window.open('','AUTHMARK_POPUP','height=900, width=630, status=yes, toolbar=no, menubar=no, location=no');
                document.AUTHMARK_FORM.authmarkinfo.value = key;
                document.AUTHMARK_FORM.action='https://kiup.ibk.co.kr/uib/jsp/guest/esc/esc1030/esc103020/CESC302020_i.jsp';
                document.AUTHMARK_FORM.target='AUTHMARK_POPUP';
                document.AUTHMARK_FORM.submit();
              }
            </script>
            <FORM name='AUTHMARK_FORM' METHOD='POST'>
                <input type="hidden" name="authmarkinfo">
            </FORM>
            <a href="javascript:onPopAuthMark('ba4cbf078f83d0aac943aea5133c161c')"><img src='https://kiup.ibk.co.kr/IBK/uib/ecb/img/KO/esc/sub/imgIbkMark.gif' alt='인증마크'/></a>
            <!--기업은행안심이체 인증마크 적용 종료 -->
            <h5>Industrial Bank of Korea Safety Certification Mark</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->

  <!-- Naver Relative Channel -->
  <script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "Organization",
     "name": "이케이 아이앤에프 - EK INF",
     "url": "https://ekinf.com",
     "sameAs": [
       "http://storefarm.naver.com/ek_infra",
       "https://blog.naver.com/eki8935"
     ]
    }
  </script>

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>
