---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="광통신솔루션전문기업">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>광분배함 | 이케이인프라 - EK INFRA</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/products-odf">
  <!-- OpenGraph -->
  <meta property="og:title" content="광분배함 | 이케이인프라 - EK INFRA">
  <meta property="og:description" content="광통신솔루션전문기업">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  {% include header-en.html %}
  <!-- ##### Header Area End ##### -->
  
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>제 품 현 황</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="products.html">제품현황</a></li>
          <li class="breadcrumb-item active" aria-current="page">광분배함</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->
  
  <!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100">
    <div class="container">

      <div class="row">
        <!-- Shop Filters -->
        <div class="col-12">
          <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Shop Sidebar Area -->
        {% include sidebar-en.html %}

        <!-- Shop Products Area -->
        <div class="col-12 col-md-8 col-lg-9">
          <div class="row">

            <!-- ##### FDF Start ##### -->

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/mini-4.png" data-source="https://ekinf.com" title="미니 FDF 4C"><img src="/img/product-img/odf/mini-4.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">mini-4</a>
                  <h6 class="price">미니 FDF 4C</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/mini-8.png" data-source="https://ekinf.com" title="미니 FDF 8C"><img src="/img/product-img/odf/mini-8.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">mini-8</a>
                  <h6 class="price">미니 FDF 8C</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/wall-24.png" data-source="https://ekinf.com" title="벽부형 FDF 24C"><img src="/img/product-img/odf/wall-24.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">wall-24</a>
                  <h6 class="price">벽부형 FDF 24C</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/wall-36.png" data-source="https://ekinf.com" title="벽부형 FDF 36C"><img src="/img/product-img/odf/wall-36.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">wall-36</a>
                  <h6 class="price">벽부형 FDF 36C</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/wall-48.png" data-source="https://ekinf.com" title="벽부형 FDF 48C"><img src="/img/product-img/odf/wall-48.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">wall-48</a>
                  <h6 class="price">벽부형 FDF 48C</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/fdf-2u-o.png" data-source="https://ekinf.com" title="FDF 2U 오픈"><img src="/img/product-img/odf/fdf-2u-o.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">fdf-2u-o</a>
                  <h6 class="price">FDF 2U 오픈</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/fdf-2u-r.png" data-source="https://ekinf.com" title="FDF 2U 라운드"><img src="/img/product-img/odf/fdf-2u-r.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">fdf-2u-r</a>
                  <h6 class="price">FDF 2U 라운드</h6>
                </div>
              </div>
            </div>

            <!-- ##### FDF End ##### -->

            <!-- ##### OFD Start ##### -->

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/ek-12.png" data-source="https://ekinf.com" title="미니 A-1 12C SC타입 (0.8U)"><img src="/img/product-img/odf/ek-12.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">ofd-ek-12</a>
                  <h6 class="price">미니 A-1 12C SC타입 (0.8U)</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/a1-12.png" data-source="https://ekinf.com" title="OFD A-1 12C SC타입"><img src="/img/product-img/odf/a1-12.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">ofd-a-1-12</a>
                  <h6 class="price">OFD A-1 12C SC타입</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/a1-12-fc.png" data-source="https://ekinf.com" title="OFD A-1 12C FC타입"><img src="/img/product-img/odf/a1-12-fc.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">ofd-a-1-12-FC</a>
                  <h6 class="price">OFD A-1 12C FC타입</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/a1-24.png" data-source="https://ekinf.com" title="OFD A-1 24C SC타입"><img src="/img/product-img/odf/a1-24.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">ofd-a-1-24</a>
                  <h6 class="price">OFD A-1 24C SC타입</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="/img/product-img/odf/a1-24-fc.png" data-source="https://ekinf.com" title="OFD A-1 24C FC타입"><img src="/img/product-img/odf/a1-24-fc.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">ofd-a-1-24-FC</a>
                  <h6 class="price">OFD A-1 24C FC타입</h6>
                </div>
              </div>
            </div>

          </div>

          <!-- Pagination -->
          <nav>
            <ul class="pagination mb-0 mt-50">
              <li class="page-item active"><a class="page-link" href="products-odf.html">1</a></li>
              <li class="page-item"><a class="page-link" href="products-odf-2.html">2</a></li>
              <li class="page-item"><a class="page-link" href="products-odf-2.html"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  {% include footer-en.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="/js/jquery.magnific-popup-adj.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="/js/active.js"></script>
</body>

</html>