---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="광통신솔루션전문기업">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>회사소개 | 이케이인프라 - EK INFRA</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com/about">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="style.css">
  <!-- OpenGraph -->
  <meta property="og:title" content="회사소개 | 이케이인프라 - EK INFRA">
  <meta property="og:description" content="광통신솔루션전문기업">
  <meta property="og:image" content="img/bg-img/ek_wide.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131793900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131793900-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '289331155097811');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=289331155097811&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Naver Analytics -->
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
  if(!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "c3aed5b4a927a0";
  wcs_do();
  </script>
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>


  <!-- ##### Header Area Start ##### -->
  {% include header.html %}
  <!-- ##### Header Area End ##### -->
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>회 사 소 개</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">회사소개</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <section class="about-us-area">
    <div class="container">
    <div class="row align-items-center">
    
    <div class="col-12 col-lg-6">
    <div class="about-us-content mb-100">
    
    <div class="section-heading">
    <p>Korea First EK INFRA</p>
    <h2><span>대한민국 최초</span> RN 오픈마켓 취급 </h2>
    <img src="img/core-img/decor.png" alt="">
    </div>
    <p>이케이인프라는 대한민국의 수많은 광통신 업체의 높은 수요를 만족시키기 위해 단순한 소량 주문 생산을 넘어서, 다양한 특수 사양과 빠른 납기를 위해 네이버 스토어에 입점하여 현재 운영중입니다. 네이버 입점과 동시에 빠르게 성장하고 있으며, 자사 RN광분배기 품목의 경우 대한민국 광통신솔루션업체 중 최초로 오픈마켓에서 취급하고 있습니다.</p>
    </div>
    </div>
    
    <div class="col-12 col-lg-6">
    <div class="about-us-thumbnail mb-100">
    <img src="img/bg-img/61.jpg" alt="">
    </div>
    </div>
    </div>
    </div>
  </section>

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('img/bg-img/57.jpg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we do</p>
              <h2><span>이케이인프라</span> 제품은 이렇습니다.</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>이케이인프라는 광통신솔루션전문기업 으로서, 광통신 산업에서 필수적인 RN 광분배기, 광스플리터, 광분배함, 기타자재 등을 취급하고 판매하고 있습니다.</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>RN광분배기</h5>
              </div>
              <p>PON(Passive Optical Network)의 RN을 의미하며, 광분배함, 광접속함체 등에 광스플리터를 장착한 형태입니다. 
                네트워크RN, 광케이블RN, OFD RN, RN스플리터 등 여러 이름으로 불리고 있습니다. 
                현장에서 장착 시, 파손 등의 위험이 있을 수 있으나, 이케이인프라에서 RN 완제품으로 출고하여 편리한 공사가 가능합니다. 
                이는 대한민국 온라인 판매 사상 이케이인프라가 최초입니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>광스플리터</h5>
              </div>
              <p>광케이블 분배기라고도 하며, 광원을 합하거나 분배하는 역할의 수동 소자로, 자사 RN광분배기에 사용되며, 1xN 분기구조로 경제적인 광케이블 사용이 가능합니다. 
                이케이인프라의 모든 광스플리터는 출고 전 자체 시험을 통해 이상이 없는지 확인합니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>광분배함</h5>
              </div>
              <p>광케이블을 단말장치마다 분배하는 함체이며, 자사 RN광분배기에 사용됩니다. 
                OFD, FDF, 광단자분배함, 광단자함 등으로 불리기도 합니다.
                고객님들의 편의에 따라, 함체 자체만, 광어댑터 장착, 
                나아가서 광스플리터가 장착되어 RN광분배기 형태로 구매하실 수 있게 하여금 체계가 구축되어있습니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>기타자재</h5>
              </div>
              <p>광어댑터(광아답타), 광피그테일, 광접속트레이, 보호튜브(조관튜브) 등 광통신 산업의 부수적인 자재들까지 한번에 구매하실 수 있습니다.
                RN광분배기, 광스플리터, 광분배함 등과 함께 구매하시면 빠른 배송으로 바로 받아보실 수 있습니다.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->  
  
  
  <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area section-padding-100-0 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="benefits-thumbnail mb-50">
            <img src="img/bg-img/55.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="img/core-img/bene1.png" alt="">
            <h5>국산</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
            <img src="img/core-img/bene2.png" alt="">
            <h5>기간통신 규격제품</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
            <img src="img/core-img/bene3.png" alt="">
            <h5>빠른배송</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
            <img src="img/core-img/bene4.png" alt="">
            <h5>출고 전 자체시험</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h2><span>광통신</span> 산업이란?</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p>광통신 산업에 대해 생소한 분들을 위한, 광통신 산업의 핵심 인력인 KT 광케이블 마이스터 분의 인터뷰 영상입니다.</p>
            <a href="https://www.youtube.com/watch?v=Zmh5rQXvWXw" class="btn famie-btn mt-30">Youtube</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="img/bg-img/56.jpg" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/watch?v=Zmh5rQXvWXw" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->
  
  <!-- ##### Footer Area Start ##### -->
  {% include footer.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>