---
layout: default
---

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="광통신솔루션전문기업">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>이케이 아이앤에프 - EK INF</title>
  <!-- Canonical -->
  <link rel="canonical" href="https://ekinf.com">
  <!-- OpenGraph -->
  <meta property="og:title" content="이케이 아이앤에프 - EK INF">
  <meta property="og:description" content="EK INF - EK Informatics and Fiber optics">
  <meta property="og:image" content="/img/bg-img/ek_wide.png">
  {% include head.html %}
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  {% include header.html %}
  <!-- ##### Header Area End ##### -->

  <!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/51.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">대한민국 광통신 산업의 자존심</h2>
                <p data-animation="fadeInUp" data-delay="400ms">이케이는 광통신솔루션전문기업 입니다.</p>
                <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">상담문의</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/52.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">기간통신사업자 제품 규격 충족</h2>
                <p data-animation="fadeInDown" data-delay="400ms">이케이는 광통신솔루션전문기업 입니다.</p>
                <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">상담문의</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->

  <!-- ##### Our Products Area Start ##### -->
  <section class="our-products-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF Products</p>
            <h2><span>이케이</span>는 최상의 품질을 자랑합니다.</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-12 col-sm-12 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/101.jpg" data-source="https://ekinf.com" title="RN광분배기"><img src="img/bg-img/101.jpg"></a>
              </div>
              <!-- Product Tags -->
              <span class="product-tags">EK only</span>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-rn.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Remote Node</a>
              <h6 class="price">RN광분배기</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/102.jpg" data-source="https://ekinf.com" title="광스플리터"><img src="img/bg-img/102.jpg"></a>
              </div>
              <!-- Product Tags -->
              <span class="product-tags bg-danger">HOT</span>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-ops.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Optical PLC Splitter</a>
              <h6 class="price">광스플리터</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/103.jpg" data-source="https://ekinf.com" title="광분배함"><img src="img/bg-img/103.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-odf.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Optical Fiber Distribution Frame</a>
              <h6 class="price">광분배함</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/104.jpg" data-source="https://ekinf.com" title="광피그테일"><img src="img/bg-img/104.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-opg.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Optical Pigtail</a>
              <h6 class="price">광피그테일</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/105.jpg" data-source="https://ekinf.com" title="광어댑터"><img src="img/bg-img/105.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="buy-ofa.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Optical Fiber Adaptor</a>
              <h6 class="price">광어댑터</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/106.jpg" data-source="https://ekinf.com" title="광접속트레이"><img src="img/bg-img/106.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="buy-ofs.html" class="product-title">Optical Fiber Splice</a>
              <h6 class="price">광접속트레이</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/bg-img/107.jpg" data-source="https://ekinf.com" title="기타자재"><img src="img/bg-img/107.jpg"></a>
              </div>
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="buy-etc.html" class="product-title">ETC</a>
              <h6 class="price">기타자재</h6>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="900ms">
            <a href="products.html" class="btn famie-btn">이케이 제품 보러가기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Our Products Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area bg-dark section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Thumbnail -->
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="img/bg-img/54.jpg" alt="About EK INF">
          </div>
        </div>

        <!-- About Us Content -->
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p class="text-white">About EK INF</p>
              <h2><span>이케이</span></h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p class="text-white">이케이는 광통신솔루션전문기업 으로서, 광통신 산업에서 필수적인 RN 광분배기, 광스플리터, 광분배함, 기타자재 등을 취급하고 판매하고 있습니다.</p>
            <a href="about.html" class="btn famie-btn mt-30">더 알아보기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Our Products Area 2 Start ##### -->
  <section class="our-products-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>EK INF Clients</p>
            <h2><span>이케이</span>의 자신감엔 근거가 있습니다.</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client01.png" data-source="https://ekinf.com" title="KT"><img src="img/client-img/client01.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Korea Telecom</a>
              <h6 class="price">KT</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client02.png" data-source="https://ekinf.com" title="SKT"><img src="img/client-img/client02.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">SK Telecom</a>
              <h6 class="price">SK 텔레콤</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client03.png" data-source="https://ekinf.com" title="LG U+"><img src="img/client-img/client03.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">LG Uplus</a>
              <h6 class="price">LG 유플러스</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client15.png" data-source="https://ekinf.com" title="Ministry of National Defense"><img src="img/client-img/client04.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Samsung SDS</a>
              <h6 class="price">삼성SDS</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client05.png" data-source="https://ekinf.com" title="SKB"><img src="img/client-img/client05.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">SK Broadband</a>
              <h6 class="price">SK 브로드밴드</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client06.png" data-source="https://ekinf.com" title="LGD"><img src="img/client-img/client06.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">LG Display</a>
              <h6 class="price">LG 디스플레이</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client14.png" data-source="https://ekinf.com" title="LGD"><img src="img/client-img/client14.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Korea Electic Power Corporation</a>
              <h6 class="price">한국전력</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client04.png" data-source="https://ekinf.com" title="Ministry of National Defense"><img src="img/client-img/client04.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Ministry of National Defense</a>
              <h6 class="price">대한민국 국방부</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client16.png" data-source="https://ekinf.com" title="Chonnam National University"><img src="img/client-img/client08.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Emerson Korea</a>
              <h6 class="price">한국에머슨</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client09.png" data-source="https://ekinf.com" title="Humax"><img src="img/client-img/client09.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Humax</a>
              <h6 class="price">휴맥스</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client10.png" data-source="https://ekinf.com" title="Lightron"><img src="img/client-img/client10.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Lightron</a>
              <h6 class="price">라이트론</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client11.png" data-source="https://ekinf.com" title="Senko"><img src="img/client-img/client11.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Senko</a>
              <h6 class="price">센코</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client12.png" data-source="https://ekinf.com" title="Dae Eun Electronics"><img src="img/client-img/client12.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Dae Eun Electronics</a>
              <h6 class="price">대은전자</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client13.png" data-source="https://ekinf.com" title="FBG Korea"><img src="img/client-img/client13.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">FBG Korea</a>
              <h6 class="price">에프비지코리아</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client07.png" data-source="https://ekinf.com" title="Seoul National University of Science of Technology"><img src="img/client-img/client07.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Seoul National University of Science of Technology</a>
              <h6 class="price">서울과학기술대</h6>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
        </div>

        <!-- Single Product Area -->
        <div class="col-4 col-sm-4 col-lg-4">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <div class="zoom-gallery">
                <a href="img/client-img/client08.png" data-source="https://ekinf.com" title="Chonnam National University"><img src="img/client-img/client08.png"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Chonnam National University</a>
              <h6 class="price">전남대학교</h6>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="500ms">
            <a href="about.html" class="btn famie-btn">이케이 회사소개 보러가기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Our Products Area 2 End ##### -->

  <!-- ##### Footer Area Start ##### -->
  {% include footer.html %}
  <!-- ##### Footer Area End ##### -->

  <!-- Naver Relative Channel -->
  <script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "Organization",
     "name": "이케이 아이앤에프 - EK INF",
     "url": "https://ekinf.com",
     "sameAs": [
       "http://storefarm.naver.com/ek_infra",
       "https://blog.naver.com/eki8935"
     ]
    }
  </script>

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>
