---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>Famie - Farm Services &amp; Organic Food Store Template | News Details</title>
  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  {% include header.html %}
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>News Details</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">News Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### News Details Area Start ##### -->
  <section class="news-details-area section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- News Details Content -->
          <div class="news-details-content">
            <h6>Post on <a href="#" class="post-date">18 Aug 2018</a> / <a href="#" class="post-author">Peter Crough</a></h6>
            <h2 class="post-title">Rising cattle supplies see beef export lifted</h2>

            <p>Nunc aliquet, justo non commodo conguet, velici semi paluvinar denim, action bibendum purus selecao samuel eget libero. Maecenas ac viverra , sheta laoreet lacus. Etiam nisi diam, sagittis quam at mattis quam lorem, euismod dictum
              ante ornare eget. Nulla viverra suscipit sem deet suscipit. Suspendisse suscipit
              vulputate quis lacus non consectetur. Vestibulum odio nunc, lobortis vitae elit sed, sodales mollis urna. Curabitur trununc et nunc cursus, ustava vehicula ipsum molestie. Donec mattis mi et arcu ullamcorper blandit. Ut quis sagittis,
              interdum libero ut, elementum nunc. Integer placerat sapien sedoni ligula
              placerat laoreet. Aliquam sit amet varius arcu. Vivamus condimentum metus quis est finibus feugiat.</p>

            <div class="row">
              <div class="col-lg-4">
                <p>Proin accumsan laoreet donald, a pretiumas dolor congue facilisis. Morbi eget convallis nisi. Sedoni blandit neque eu leo fringilla semper. Donec sed arcu ut arcu sagittis ornare acdat ipsum. Fusces
                  ut phareto augue, in placerat arcu. Utat erat sit mauris et turpis non dictum eleifend elit.</p>
                <p>Etiam faucibus vestibulum orci at euismod. Sedo sollicitudin justo esteran nibh egestas maximus. Nullam rutrum dolor velit, act accumsan denim commodo non.</p>
              </div>
              <div class="col-lg-8">
                <img class="w-100 mb-30" src="img/bg-img/37.jpg" alt="">
              </div>
            </div>
            <p>Morbi eget convallis nisi. Sed blandit neque eu leo
              fringilla semper. Donec sedan arcu utarcu sagittis
              ornare ac at ipsum. Fusce ut pharetra auguet, int
              placerat arcu. Ut at erat sit amet ligulan pharetra
              scelerisque nec et justo. Mauris etsa turpis nonta
              Maecenas imperdiet pulvinar magna, vel feugiat</p>

            <!-- Famie Blockquote -->
            <blockquote class="famie-blockquote d-flex">
              <div class="quote-icon pt-2">
                <img src="img/core-img/quote.png" alt="">
              </div>
              <div class="quote-text">
                <h5>"Browsing our local farmer's market is one of my family's favorite weekend activities. Make it a relaxing, healthful habit for your family, and you'll reap the nutritional rewards."</h5>
                <span>Suzanne Somers</span>
              </div>
            </blockquote>

            <p>Morbi ante diam, molestie at ligula at, placerat vehicula nulla. Etiam id laoreet eros. Proin rhoncus luctus vehicula. Donec et magna in urna faucibus porttitor et at nibh. Donec lobortis odio odio, eu mattis risus suscipit vitae. Sed
              quis justo action dui tristique vulputate. Sed accumsan leo tincidunt, volutpat massa sed, pharetra est. Praesent aliquet ut massa vestibulum maximus. Aenean orci eros, commodo volutpat ipsum in, laoreet lobortis lacus. Nulla tristique
              vestibul tortor id venenatis. Suspendisse varius molestie ligula in pulvinar. Nunc imperdiet nisl eu efficitur tincidunt.</p>
            <p>Nunc feugiat ultrices metus. Duis dapibus lacus vulputate, sodales justo molestie, luctus est. Suspendisse ultricies, tellus at consectetur imperdiet, ipsum felis pulvinar quam, id pharetra elit lectus eleifend tortor. Etiam tellus
              arcu, malesuda sit amet ipsum sed, pretium eleifend lacus. Curabitur ultrice leo purus, nec bibendum est ultrices vel nullam posuere diam ornare.</p>

            <!-- Share & Tags -->
            <div class="share-tags d-flex flex-wrap align-items-center justify-content-between">
              <!-- Share -->
              <div class="share-post d-flex align-items-center">
                <span>Share This post:</span>
                <!-- Share Icons -->
                <div class="share-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
              <!-- Tags -->
              <ul class="famie-tags">
                <li><a href="#">All product</a></li>
                <li><a href="#">Freshy Fruit</a></li>
                <li><a href="#">Sweet Corn</a></li>
              </ul>
            </div>
          </div>

          <!-- Post Author -->
          <div class="post-author-area d-flex align-items-center">
            <div class="post-author-img">
              <img src="img/bg-img/38.jpg" alt="">
            </div>
            <div class="post-author-description">
              <a href="#">
                <h5>Peter Crough</h5>
              </a>
              <p>Duis tincidunt turpis sodales, tincidunt nisi et, auctor nisigama. Curabitur vulputate sapien espanyol metusi ultricies fermentum necvelpa.
                Maecenas eget lacinia est molestie ligula, et euismod auctor. </p>
            </div>
          </div>

          <!-- Comment Area Start -->
          <div class="comment_area clearfix mb-50">

            {% include disqus.html %}

          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### News Details Area End ##### -->

  <!-- ##### Footer Area Start ##### -->

  {% include footer.html %}

  <!-- ##### Footer Area End ##### -->

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>