---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="광통신솔루션전문기업">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>광피그테일 | 이케이인프라 - EK INFRA</title>
    <!-- Canonical -->
    <link rel="canonical" href="https://ekinf.com/products-opg">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- OpenGraph -->
    <meta property="og:title" content="광피그테일 | 이케이인프라 - EK INFRA">
    <meta property="og:description" content="광통신솔루션전문기업">
    <meta property="og:image" content="img/bg-img/ek_wide.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131793900-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-131793900-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '289331155097811');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=289331155097811&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Naver Analytics -->
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "c3aed5b4a927a0";
    wcs_do();
    </script>
  </head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  {% include header.html %}
  <!-- ##### Header Area End ##### -->
  
  

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/58.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>제 품 현 황</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="products.html">제품현황</a></li>
          <li class="breadcrumb-item active" aria-current="page">광피그테일</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->
  
  <!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100">
    <div class="container">

      <div class="row">
        <!-- Shop Filters -->
        <div class="col-12">
          <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Shop Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">제품종류</h5>
            <!-- Cata List -->
            <ul class="cata-list shop-page">
              <li><a href="products.html">전체제품</a></li>
              <li><a href="products-rn.html">RN광분배기</a></li>
              <li><a href="products-ops.html">광스플리터</a></li>
              <li><a href="products-odf.html">광분배함</a></li>
              <li><a href="products-ofa.html">광어댑터</a></li>
              <li><a href="products-opg.html">광피그테일</a></li>
              <li><a href="products-ofs.html">광접속트레이</a></li>
              <li><a href="products-etc.html">기타자재</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Tags</h5>
            <!-- Tags -->
            <ul class="famie-tags">
              <li><a href="products-mini.html">미니형/초소형</a></li>
              <li><a href="products-a-1.html">A-1/A1함체</a></li>
              <li><a href="products-wall.html">벽부형/벽면부착형</a></li>
              <li><a href="products-ek.html">특수형</a></li>
              <li><a href="products-fdf.html">FDF</a></li>
              <li><a href="products-ofd.html">OFD</a></li>
            </ul>
          </div>

        </div>

        <!-- Shop Products Area -->
        <div class="col-12 col-md-8 col-lg-9">
          <div class="row">

            <!-- ##### OPG Start ##### -->

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="img/product-img/opg-scapc.png" data-source="https://ekinf.com" title="광피그테일 SC/APC"><img src="img/product-img/opg-scapc.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-opg.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">opg-scapc</a>
                  <h6 class="price">광피그테일 SC/APC</h6>
                </div>
              </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail">
                  <div class="zoom-gallery">
                    <a href="img/product-img/opg-lcpc.png" data-source="https://ekinf.com" title="광피그테일 LC/PC"><img src="img/product-img/opg-lcpc.png"></a>
                  </div>
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="buy-opg.html" data-toggle="tooltip" data-placement="top" title="구매하러가기"><i class="icon_cart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="#" class="product-title">opg-lcpc</a>
                  <h6 class="price">광피그테일 LC/PC</h6>
                </div>
              </div>
            </div>

            <!-- ##### OPG End ##### -->

          </div>

          <!-- Pagination -->
          <nav>
            <ul class="pagination mb-0 mt-50">
              <li class="page-item active"><a class="page-link" href="products-opg.html">1</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  {% include footer.html %}
  <!-- ##### Footer Area End ##### -->
  
  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup-adj.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
</body>

</html>