<footer class="footer-area">
<!-- Main Footer Area -->
<div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(/img/bg-img/53.jpg);">
    <div class="container">
    <div class="row">

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-6">
        <div class="footer-widget mb-80">
            <a href="#" class="foo-logo d-block mb-30"><img src="/img/core-img/logo2.png" alt=""></a>
            <p>Optical Fiber Solution Finder - Remote Node, OFS, OFDF, OPG, OFA, OST</p>
            <div class="contact-info">
            <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>2nd Floor 381, Jingeononam-ro, Jingeon-eup, Namyangju-si, Gyeonggi-do, Republic of Korea</span></p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i><span>contact@ekinf.com</span></p>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span>+82 10 2289 3522</span></p>
            </div>
        </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-6">
        <div class="footer-widget mb-80">
            <h5 class="widget-title">제품 구매</h5>
            <!-- Footer Widget Nav -->
            <nav class="footer-widget-nav">
            <ul>
                <li class="naver"><a href="/en/buy">Store</a></li>
                <li><a href="/en/buy-rn">Remote Node</a></li>
                <li><a href="/en/buy-ops">Optical PLC Splitter</a></li>
                <li><a href="/en/buy-odf">Optical Distribution Frame</a></li>
                <li><a href="/en/buy-ofa">Optical Fiber Adapter</a></li>
                <li><a href="/en/buy-opg">Optical Pigtail</a></li>
                <li><a href="/en/buy-ofs">Optical Splice Tray</a></li>
                <li><a href="/en/buy-etc">ETC</a></li>
            </ul>
            </nav>
        </div>
        </div>

    </div>
    </div>
</div>

<!-- Copywrite Area  -->
<div class="copywrite-area">
    <div class="container">
        <div class="copywrite-text">
        <div class="row align-items-center">
            <div class="col-md-6">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; <script>
                document.write(new Date().getFullYear());
                </script> EK INF All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
            <div class="col-md-6">
            <div class="footer-nav">
                <nav>
                <ul>
                    <li><a href="#credit" class="popup-with-zoom-anim">Credits</a></li>
                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="credit" class="zoom-anim-dialog mfp-hide">
                    <ol>
                        <li>
                        <div>This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        </li>
                        <li>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
                            title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
                    </ol>
                    </div>

                    <li><a href="#privacy" class="popup-with-zoom-anim">개인정보 처리방침</a></li>

                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="privacy" class="zoom-anim-dialog mfp-hide">
                    <dl>
                        <dt>Privacy Policy</dt>
                        <dd class="scrl">
                        <ul>
                            <li><strong>1. Methods for collecting personal information</strong>
                            <p>Individuals apply directly through their newsletter application and product consultation inquiry.</p>
                            </li>
                            <li><strong>2. Purpose, item and retention period of personal information</strong>
                            <ol>
                                <li>1) Purpose of collection/usage: Receiving newsletter from our company, asking for a smooth consultation, and answering other questions.
                                </li>
                                <li>2) Items to be collected: names and email addresses sent directly by individuals
                                </li>
                                <li>3) Retention/Usage Period: Users' personal information is destroyed without delay when the retention period expires or the purpose of use is achieved. However, if it is required to be kept according to statutes, etc., it shall be kept for the period.
                                </li>
                            </ol>
                            </li>
                            <li><strong>3. Procedures and methods for destruction of personal information</strong>
                            <p>In principle, the user's personal information shall be destroyed without delay in a non-renewable manner if the retention period expires or the purpose of use is achieved.</p>
                            </li>
                            <li><strong>4. Users' rights and their methods of using rights</strong>
                            <p>The users may withdraw their consent to collect, use, or provide personal information at any time and request that their personal information be read, provided, and corrected. If you have any requests for personal information, please contact the person in charge of personal information management below by email or phone and we will take action without delay.
                            </p>
                            </li>
                            <li><strong>5. Matters concerning the installation, operation, and rejection of the automatic collection of personal information</strong>
                            <p>EK INF does not install and operate a personal information collection device.</p>
                            </li>
                            <li><strong>6. Personal Information Delivery Guide</strong>
                            <p>EK INF does not provide personal information to third parties.</p>
                            </li>
                            <li><strong>7. Consignment of personal information</strong>
                            <p>EK INF does not provide personal information to third parties.</p>
                            </li>
                            <li><strong>8. Personal Information Protection Officer</strong>
                            <p>Please report any complaints related to personal information protection to the person in charge of personal information protection below.</p>
                            <dl>
                                <dt>Officer :</dt>
                                <dd>Hayden You</dd>
                                <dt>E-mail :</dt>
                                <dd>contact@ekinf.com</dd>
                            </dl>
                            </li>
                            </ol>
                            <p class="notice">This Privacy Policy is being managed up to date.</p>
                            <dl>
                            <dt>Effective date</dt>
                            <dd>
                                January 14, 2019
                            </dd>
                            </dl>
                        </dd>
                    </dl>
                    </div>

                </ul>
                </nav>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</footer>
