<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="top-header-content d-flex align-items-center justify-content-between">
                <!-- Top Header Content -->
                <div class="top-header-meta">
                <p>Informatics & Fiber optics <span>EK INF</span></p>
                </div>
                <!-- Top Header Content -->
                <div class="top-header-meta text-right">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="contact@ekinf.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: contact@ekinf.com</span></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+82 10 2289 3522"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +82 10 2289 3522</span></a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
            <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- Close Button -->
                <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Navbar Start -->
                <div class="classynav">
                <ul>
                    <li class="active"><a href="/en/">Main Page</a></li>
                    <li><a href="/en/about">About</a>
                        <ul class="dropdown">
                            <li><a href="/en/about">About EK</a></li>
                            <li><a href="/en/about-ekinfos">About EK Infos</a></li>
                            <li><a href="/en/about-ekinfra">About EK Infra</a></li>
                            <li><a href="/en/about-makerslo">About makerslo</a></li>
                        </ul>
                    </li>
                    <li><a href="/en/products">Product</a>
                        <ul class="dropdown">
                            <li><a href="/en/products">All Products</a></li>
                            <li><a href="/en/products-rn">Remote Node</a></li>
                            <li><a href="/en/products-ops">Optical Fiber Splitter</a></li>
                            <li><a href="/en/products-odf">Optical Fiber Distribution Frame</a></li>
                            <li><a href="/en/products-ofa">Optical Fiber Adaptor</a></li>
                            <li><a href="/en/products-opg">Optical Fiber Pigtail</a></li>
                            <li><a href="/en/products-ofs">Optical Splice Tray</a></li>
                            <li><a href="/en/products-etc">Etc</a></li>
                        </ul>
                    </li>
                    <li><a href="/en/contact">Contact</a></li>
                    <li class="naver"><a href="https://www.translatetheweb.com/?ref=TVert&from=&to=en&a=https%3A%2F%2Fsmartstore.naver.com%2Fek_infra">Store</a></li>
                    <li class="active"><a href="/ek-catalog-2020-08.pdf" target="_blank">Catalog</a></li>
                    <li><a href="/">Kor</a></li>
                </ul>
                </div>
                <!-- Navbar End -->
            </div>
            </nav>
        </div>
        </div>
    </div>
</header>
