<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="top-header-content d-flex align-items-center justify-content-between">
                <!-- Top Header Content -->
                <div class="top-header-meta">
                <p>광통신솔루션전문기업 <span>이케이인프라</span></p>
                </div>
                <!-- Top Header Content -->
                <div class="top-header-meta text-right">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="contact@ekinf.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: contact@ekinf.com</span></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+82 10 2289 3522"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +82 10 2289 3522</span></a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
            <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- Close Button -->
                <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Navbar Start -->
                <div class="classynav">
                <ul>
                    <li class="active"><a href="/">메인으로</a></li>
                    <li><a href="/products">제품현황</a>
                    <ul class="dropdown">
                        <li><a href="/products">전체상품</a></li>
                        <li><a href="/products-rn">RN광분배기</a></li>
                        <li><a href="/products-ops">광스플리터</a></li>
                        <li><a href="/products-odf">광분배함</a></li>
                        <li><a href="/products-ofa">광어댑터</a></li>
                        <li><a href="/products-opg">광피그테일</a></li>
                        <li><a href="/products-ofs">광접속트레이</a></li>
                        <li><a href="/products-etc">기타자재</a></li>
                    </ul>
                    </li>
                    <li><a href="/about">회사소개</a></li>
                    <li><a href="/contact">상담문의</a></li>
                    <li class="naver"><a href="/buy">네이버스토어</a></li>
                    <li class="active"><a href="/ek-catalog-2020-08.pdf">카탈로그</a></li>
                </ul>
                </div>
                <!-- Navbar End -->
            </div>
            </nav>
        </div>
        </div>
    </div>
</header>
