<!-- Shop Sidebar Area -->
<div class="col-12 col-md-4 col-lg-3">

  <!-- Single Widget Area -->
  <div class="single-widget-area">
    <!-- Title -->
    <h5 class="widget-title">Product Type</h5>
    <!-- Cata List -->
    <ul class="cata-list shop-page">
      <li><a href="/en/products">All Products</a></li>
      <li><a href="/en/products-rn">Remote Node</a></li>
      <li><a href="/en/products-ops">Optical PLC Splitter</a></li>
      <li><a href="/en/products-odf">Optical Distribution</a></li>
      <li><a href="/en/products-ofa">Optical Fiber Adaptor</a></li>
      <li><a href="/en/products-opg">Optical Fiber Pigtail</a></li>
      <li><a href="/en/products-ofs">Optical Splice Tray</a></li>
      <li><a href="/en/products-etc">Etc</a></li>
    </ul>
  </div>

  <!-- Single Widget Area -->
  <div class="single-widget-area">
    <!-- Title -->
    <h5 class="widget-title">Tags</h5>
    <!-- Tags -->
    <ul class="famie-tags">
      <li><a href="products-mini.html">Mini/Tiny</a></li>
      <li><a href="products-a-1.html">A-1/A1</a></li>
      <li><a href="products-wall.html">Wall ODFs</a></li>
      <li><a href="products-ek.html">EK Only</a></li>
      <li><a href="products-fdf.html">FDF</a></li>
      <li><a href="products-ofd.html">OFD</a></li>
    </ul>
  </div>

</div>