<!-- Shop Sidebar Area -->
<div class="col-12 col-md-4 col-lg-3">

  <!-- Single Widget Area -->
  <div class="single-widget-area">
    <!-- Title -->
    <h5 class="widget-title">제품종류</h5>
    <!-- Cata List -->
    <ul class="cata-list shop-page">
      <li><a href="products.html">전체제품</a></li>
      <li><a href="products-rn.html">RN광분배기</a></li>
      <li><a href="products-ops.html">광스플리터</a></li>
      <li><a href="products-odf.html">광분배함</a></li>
      <li><a href="products-ofa.html">광어댑터</a></li>
      <li><a href="products-opg.html">광피그테일</a></li>
      <li><a href="products-ofs.html">광접속트레이</a></li>
      <li><a href="products-etc.html">기타자재</a></li>
    </ul>
  </div>

  <!-- Single Widget Area -->
  <div class="single-widget-area">
    <!-- Title -->
    <h5 class="widget-title">Tags</h5>
    <!-- Tags -->
    <ul class="famie-tags">
      <li><a href="products-mini.html">미니형/초소형</a></li>
      <li><a href="products-a-1.html">A-1/A1함체</a></li>
      <li><a href="products-wall.html">벽부형/벽면부착형</a></li>
      <li><a href="products-ek.html">특수형</a></li>
      <li><a href="products-fdf.html">FDF</a></li>
      <li><a href="products-ofd.html">OFD</a></li>
    </ul>
  </div>

</div>